body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 45vw;
    height: 50vh;
    margin-bottom: 40px;
}
#btn{
    width: 10vw;
    height: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}